body{
    background-color:#76a581;

}

.img{
    width: fit-content;
    height: fit-content;
}

h1{
    font-family: 'Fugaz One', cursive;
    color: white;
    margin-top:3%;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
}

h3{
    font-family: 'Fugaz One', cursive;
}
h4{
    font-family: 'Fugaz One', cursive;
}

h5{
    font-family: 'Fugaz One', cursive; 
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}
/*NAV*/
.bg-success{
    background-color:#4c6752ba!important;
} 
.navbar-brand{
    font-family: 'Fugaz One', cursive;
}
/*ALERT*/
.alert-danger {
    text-align: center;
}

/*CAROUSEL*/
.carousel-item{
    max-height: 450px;
    height:100%;
}

.d-block{
    height:450px;
    
}
.jumbotron{
    background-size:cover;
    background-position: center;
}

.row.featurette{
    background-color: white;
}

.ml-2-md-6{
    margin-left: 20px!important;
}
/*CARDS*/
.card-img, .card-img-bottom, .card-img-top {
    height:250px;
}

.card-body{
    text-align: center;
}

.input{
    size: 250px;
}
.modal-content{
    background-image: url(https://cdn.branchcms.com/3OdwbpqLMm-1067/images/blog/black-widow-spider.jpg);
    background-size:cover;
    background-position: center;
}
.text-danger{
    color: yellow!important;
    font-size: 15pt;
    font-family: 'Fugaz One', cursive; 
}