.container{
    background-color: lightcoral;
    width: min-content;
}

canvas{
    background-color: white;
    position: relative;
    display: inline-block;
    margin: 100px;
}

button{
    position: relative;
    display: inline-block;
    margin: 100px;
    margin-top: 50px;
    margin-left: 252px;
}