.navbar-brand img {
    max-width: 75px;

}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

i.fa.fa-shopping-cart{
    color:white;
    font-size: 36pt;
}



.jumbotron {
    background-size: cover;
    background-position: center;   
}