body{
    background-color: black;
}


h1,h3, h6{
font-family: clarendon-wide-stencil, sans-serif;
font-weight: 400;
font-style: normal;
color:white;
}
.container-text{
    margin-left:30px;
}
.navbar-brand img{
    max-width: 75px;
  }
  
 .bg-dark{
     background-color: black!important;
 } 
.jumbotron{
    background-size:cover;
    background-position: center;
    height:300px;
}
.img-fluid{
    width:300px;
    height:500px;
}
svg{
     animation:svg .5s ease-in-out infinite alternate;
     

}
p{
    color:white;
    animation-delay: 10s ease-in alternate;
    animation:p 3s ease-in infinite alternate;
}
a{  font-family: clarendon-wide-stencil, sans-serif;

    font-weight: 400;
    
    font-style: normal;
    color:white;
    animation: a 2s ease-in alternate;
}
a nav-link:hover{
    color:lightblue;
}
@keyframes svg{
    from{
        transform: translateY(0px);
    }
    to{
        transform:translateY(10px);

    }
}

@keyframes p{
 from{
     color:#366fac;
 
    }
to{
    color:white;
}
}

@keyframes a{
    from{
        opacity: 0%;
    }
    to{
        opacity:100%;
    }
}