body{
    background-color: black;
}


h3, h6{
    color:white;
}
.navbar-brand img{
    max-width: 75px;
  }
  
 .bg-dark{
     background-color: black!important;
 } 
.jumbotron{
    background-size:cover;
    background-position: center;
    height:300px;
}
.img-fluid{
    width:300px;
    height:500px;
}
svg{
     animation:svg .5s ease-in-out infinite alternate;
     

}
p{
    color:white;
    animation:p 3s ease-in alternate;
}
@keyframes svg{
    from{
        transform: translateY(0px);
    }
    to{
        transform:translateY(10px);

    }
}

@keyframes p{
 from{
     color:paleturquoise;
 
    }
to{
    color:white;
}
}