body{
    background-color: lightpink;
}
a{
    margin-right:30px;
}
footer{
    position:sticky;
    background-color: lightslategray;
    
}
.list-unstyled{
    display:flex;
    margin-right: 10px;
}
.card img{
    height:250px;
}
.h-100{
    height:100%!important;
}