.img{
    width: fit-content;
    height: fit-content;
}

.carousel-item{
    max-height: 450px;
}

.carousel-item img {
    max-width:100%;
    width:100%;
    
  }

.jumbotron{
    background-size:cover;
    background-position: center;
}

.card-img, .card-img-bottom, .card-img-top {
    height:250px;
}

.bg-success{
    background-color:#4c6752ba!important;
} 