body{
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, #fc93ca 100%);

}
a{
    margin-right:30px;
    color:white;

}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: pink;
    border-radius: 25px;
    transition: 2s;
    
}
footer{
    position:sticky;
    background-image: url(https://66.media.tumblr.com/0c6391445943564178ad48ed23e222c4/tumblr_mhaqqtpV0C1s4wod0o2_500.jpg);
    background-position: center;
    background-size:cover;
    
}

.modal-content{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61LPwnDF01L.jpg);
    background-size:cover;
    background-position: center;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    /* opacity: .5; */
}
.carousel-item{
    max-height: 450px;
    height:100%;
}

.d-block{
    height:450px;
    
}

.bg-danger {
    background-color: #ebebeb52!important;
}
.list-unstyled{
    display:flex;
    margin-right: 10px;
}
.card img{
    height:250px;
}
.h-100{
    height:100%!important;
}

.jumbotron {
    background-size: cover;
    background-position: center;   
}
/*--Blog*/
.iframe{
    width:100%;
}

.video{
    background-color:black;
}

/*--Contact--*/

.col-md-3{
margin-left:20px;
}

/*--SHOP--*/